@import "variables.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	box-sizing: border-box;
	outline: none;
}

html {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
}

body {
	height: 100vh;
}

#app-main {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex: 1;
}

svg path {
	fill: currentColor;
}


@import "utilities";
@import "typography";